# DAY 2 assignmnet

In [1]:
lst= ["jint", 13, 1001, 999.1, [1,2,3,4]]

In [2]:
lst

['jint', 13, 1001, 999.1, [1, 2, 3, 4]]

In [3]:
lst.append("chakkalakkal")

In [4]:
lst

['jint', 13, 1001, 999.1, [1, 2, 3, 4], 'chakkalakkal']

In [5]:
lst.index(1001)

2

In [6]:
lst.reverse()

In [7]:
lst

['chakkalakkal', [1, 2, 3, 4], 999.1, 1001, 13, 'jint']

In [8]:
lst.remove("chakkalakkal")

In [9]:
lst

[[1, 2, 3, 4], 999.1, 1001, 13, 'jint']

In [15]:
lst.count(999.1)

1

# Dictionary and its default functions

In [16]:
dit= {"Name":"Jint", "Age":"27", "Number": 94962867, "Place":"Narnia"}

In [17]:
dit

{'Name': 'Jint', 'Age': '27', 'Number': 94962867, 'Place': 'Narnia'}

In [18]:
dit.get("Place")

'Narnia'

In [19]:
dit.items()

dict_items([('Name', 'Jint'), ('Age', '27'), ('Number', 94962867), ('Place', 'Narnia')])

In [20]:
dit.keys()

dict_keys(['Name', 'Age', 'Number', 'Place'])

In [32]:
dit.fromkeys("Name")

{'N': None, 'a': None, 'm': None, 'e': None}

In [26]:
dit["Nation"]= "Imagination"

In [27]:
dit

{'Name': 'Jint',
 'Age': '27',
 'Number': 94962867,
 'Place': 'Narnia',
 'Nation': 'Imagination'}

In [28]:
dit.clear()

In [33]:
dit

{}

# SETs and its default functions

In [34]:
st = {"jint","chakkalakkal",13,1001,1001,13,1001,999.1,1001}

In [35]:
st

{1001, 13, 999.1, 'chakkalakkal', 'jint'}

In [36]:
st1 = {"jint",13}

In [37]:
st1.issubset(st)

True

In [38]:
st2 = {"john",12}

In [39]:
st2.union(st)

{1001, 12, 13, 999.1, 'chakkalakkal', 'jint', 'john'}

In [40]:
st2.issuperset(st)

False

In [60]:
st.difference(st1)

{1001, 13, 999.1, 'chakkalakkal', 'jint'}

In [49]:
st1.difference()

{13, 'jint'}

In [54]:
st1.difference_update(st)

In [55]:
st

{1001, 13, 999.1, 'chakkalakkal', 'jint'}

In [59]:
st1.intersection(st)

set()

# Tuple and explore its default methods

In [61]:
tup = ("jint","john","chakkalakkal",1,2,3,4)

In [67]:
tup

('jint', 'john', 'chakkalakka', 1, 2, 3, 4)

In [64]:
tup.count(1)

1

In [69]:
tup.count("jint")

1

In [70]:
tup.index("jint")

0

# String and its default mathods

In [71]:
a = "A"
b = "mlylm"

In [72]:
str.join(a,b)

'mAlAyAlAm'

In [73]:
a = "Jint"

In [74]:
str.capitalize(a)

'Jint'

In [75]:
a = "Jint"
b = "John"

In [80]:
c = a+""+b

In [81]:
c

'JintJohn'

In [87]:
str.casefold(c)

'jintjohn'

In [89]:
str.encode(a)

b'Jint'

In [90]:
a.find("i")

1

In [91]:
a.index("t")

3